{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": ["off", 4],
    "quotes": [1, "double"]
    // "comma-dangle": ["error", "always"]
    // "comma-dangle": ["error", {
    //   "arrays": "never",
    //   "objects": "never",
    //   "imports": "never",
    //   "exports": "never",
    //   "functions": "ignore"
    // }]
  }
}